    
    
    #menu {
        width: 20%;
        height: 100vh;
        background-color: #af3f23;
        padding: 10px;
        display: flex;
        flex-direction: column;
    }

    #contenido {
        width: 80%;
        height: 100vh;
        display: flex;
        background: rgb(11, 196, 4);
        
    }